.grey-btn-lg{
  outline: none;
  width: 10rem;
  height: 4rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.grey-btn-lg:hover{
  background: darkgray;
  color: white;
}

.grey-btn-lg:active{
  transform: scale(0.95);
  transition: ease-in-out;
}

.grey-btn-sm{
  outline: none;
  border-radius: 5px;
  padding: .5rem;
  font-size: 1.1rem;
}

.grey-btn-sm:hover{
  background: darkgray;
  color: white;
}

.grey-btn-sm:active{
  transform: scale(0.95);
  transition: ease-in-out;
}