.modals-stats {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modals-stats-main {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.modals-stats-main-chart-container {
  position: relative;
  width: 60%;
}

.modals-stats-main-counters {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modals-stats-main-counters-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.counter {
  font-size: 3rem;
  margin: 0.5rem;
}
