.app {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-timer-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-timer {
  font-size: 10rem;
}

.app-sessions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-sessions {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#app-sessions-counter {
  font-size: 3rem;
  text-align: center;
}
